h1 {
    color: darkblue;
}

.producto {
    list-style-type: disc;
    font-size: 1.5em;
    font-weight: bold;
    color: brown;
    margin-top: 20px;
    margin-bottom: 10px;
}

.resto {
    font-size: 15px;
    color: darkblue;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    margin-bottom: 5px;
}
